@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-carbon-bold {
    font-family: t26-carbon, monospace;
    font-weight: 700;
    font-style: normal;
  }

  @variants dark {
    .fill-white {
      filter: invert(100%) sepia(1%) saturate(3284%) hue-rotate(116deg)
        brightness(121%) contrast(100%);
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rainbow_bg {
  background: linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
}

.rainbow_text {
  background: -webkit-linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  color: transparent;
}

.rainbow_text_hover:hover {
  background: -webkit-linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  color: rgba(255, 255, 255, 0);
}

.rainbow_bg_animated {
  background: -webkit-linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  animation: rainbow_animation 17s ease-in-out infinite;
  background-size: 400% 400%;
}

.rainbow_text_animated {
  background: -webkit-linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 17s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

path,
line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
